<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="School Management Portal for AryaGlobal">
    <meta name="keywords" content="AryaGurukul, LittleAryans, StMaryHighSchool">
    <meta name="author" content="ravimehra9911">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Form View - AryaGlobal</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
    <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="../../assets/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">

    <!-- Theme Styles -->
    <link href="../../assets/css/main.min.css" rel="stylesheet">
    <link href="../../assets/css/custom.css" rel="stylesheet">

    <style>
        .formview {
            width: 1000px;
            margin: 0 auto;
        }
    </style>

</head>

<body>
    <div class='loader'>
        <div class='spinner-grow text-primary' role='status'>
            <span class='sr-only'>Loading...</span>
        </div>
    </div>

    <style>
        p {
            margin: 0px;
        }
    </style>

    <div class="page-container">
        <div class="formview">

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">


                            <div class="row mb-5 d-flex justify-content-center align-items-center">
                                <div class="col-md-6">
                                    <img src="/assets/images/AryaGurukul-Nandivali.png" width="250">
                                </div>



                                <div class="col-md-6 d-flex justify-content-center align-items-center">
                                    <h3>Admission Form - 2022</h3>
                                </div>

                            </div>

                            <div class="row mb-3">
                                <div class="col bg-dark">
                                    <p class="h6 m-0 py-2 text-white">IMPORTANT DETAILS</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-3 border-start">
                                    <h6 class="text-black-50">Academic Session</h6>
                                    <p class="h6">2022-23</p>
                                </div>

                                <div class="col-md-3 border-start">
                                    <h6 class="text-black-50">Grade Applying For</h6>
                                    <p class="h6">2nd</p>
                                </div>

                                <div class="col-md-3 border-start">
                                    <h6 class="text-black-50">Child Name</h6>
                                    <p class="h6">ABEER KUMAR MEHRA</p>
                                </div>

                                <div class="col-md-3 border-start">
                                    <h6 class="text-black-50">Date of Birth</h6>
                                    <p class="h6">17/Aug/2018</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col bg-dark">
                                    <p class="h6 m-0 py-2 text-white">PAYMENT SUMMERY</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-9 border">
                                    <p class="text-black-50">PARTICULAR</p>
                                    <p class="h6">Online Admission Form Fee</p>
                                </div>

                                <div class="col-md-3 border">
                                    <p class="text-black-50">AMOUNT</p>
                                    <p class="h6">1000</p>
                                </div>
                            </div>


                            <div class="row mb-5">
                                <div class="col d-flex justify-content-end">
                                    <button class="btn btn-info">Pay Now</button>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascripts -->
    <script src="../../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
    <script src="../../assets/js/main.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
</body>

</html>