<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="School Management Portal for AryaGlobal">
    <meta name="keywords" content="AryaGurukul, LittleAryans, StMaryHighSchool">
    <meta name="author" content="ravimehra9911">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Dashboard - AryaGlobal</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
    <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="../../assets/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">

    <!-- Theme Styles -->
    <link href="../../assets/css/main.min.css" rel="stylesheet">
    <link href="../../assets/css/custom.css" rel="stylesheet">

</head>

<body>
    <div class='loader'>
        <div class='spinner-grow text-primary' role='status'>
            <span class='sr-only'>Loading...</span>
        </div>
    </div>

    <div class="page-container">
        <div class="page-header">
            <nav class="navbar navbar-expand-lg d-flex justify-content-between">

                <div id="navbarNav">
                    <ul class="navbar-nav" id="leftNav">
                        <li class="nav-item">
                            <a class="nav-link" id="sidebar-toggle" href="#"><i data-feather="arrow-left"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="logo">
                    <a class="navbar-brand" href="index.html"></a>
                </div>

                <div class="" id="headerNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link profile-dropdown" href="#" id="profileDropDown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"><img
                                    src="../../assets/images/avatars/profile-image.png" alt=""></a>

                            <div class="dropdown-menu dropdown-menu-end profile-drop-menu"
                                aria-labelledby="profileDropDown">
                                <a class="dropdown-item" href="Profile.html"><i data-feather="user"></i>Profile</a>
                                <a class="dropdown-item" href="Login.html"><i data-feather="log-out"></i>Logout</a>
                            </div>

                        </li>
                    </ul>
                </div>

            </nav>
        </div>

        <div class="page-sidebar">
            <ul class="list-unstyled accordion-menu">
                <li class="sidebar-title">
                    Main
                </li>

                <li>
                    <a href="Dashboard.html"><i data-feather="home"></i>Dashboard</a>
                </li>

                <!-- <li>
                    <a href="#"><i data-feather="edit"></i>Form<i class="fas fa-chevron-right dropdown-icon"></i></a>
                    <ul class="">
                        <li><a href="#"><i class="far fa-circle"></i>Admission</a></li>
                        <li><a href="#"><i class="far fa-circle"></i>Conversion</a></li>
                    </ul>
                </li> -->

                <li>
                    <a href="#"><i data-feather="database"></i>Form Data<i
                            class="fas fa-chevron-right dropdown-icon"></i></a>
                    <ul>
                        <li><a href="#"><i class="far fa-circle"></i>Admission</a></li>
                        <li><a href="ConversionEntry.html"><i class="far fa-circle"></i>Conversion</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i data-feather="users"></i>Users<i class="fas fa-chevron-right dropdown-icon"></i></a>
                    <ul>
                        <li><a href="#"><i class="far fa-circle"></i>Parent</a></li>
                        <li><a href="#"><i class="far fa-circle"></i>Staff</a></li>
                    </ul>
                </li>

                <li class="sidebar-title">
                    Other
                </li>

                <li>
                    <a href=""><i data-feather="star"></i>Masters<i class="fas fa-chevron-right dropdown-icon"></i></a>
                    <ul>
                        <li><a href="Acadmicyear.html"><i class="far fa-circle"></i>Academic Year</a>
                        </li>
                        <li><a href="Level.html"><i class="far fa-circle"></i>Level</a></li>
                        <li><a href="Standard.html"><i class="far fa-circle"></i>Standard</a></li>
                        <li><a href="Division.html"><i class="far fa-circle"></i>Division</a></li>
                        <li><a href="Board.html"><i class="far fa-circle"></i>Board</a></li>
                        <li><a href="#"><i class="far fa-circle"></i>GR Number</a></li>
                        <li><a href="#"><i class="far fa-circle"></i>Student Confirmation</a></li>
                        <li><a href="Country.html"><i class="far fa-circle"></i>Country</a></li>
                        <li><a href="State.html"><i class="far fa-circle"></i>State</a></li>
                        <li><a href="City.html"><i class="far fa-circle"></i>City</a></li>
                        <li><a href="Pincode.html"><i class="far fa-circle"></i>Pincode</a></li>
                        <li><a href="Feekind.html"><i class="far fa-circle"></i>Fee Kind</a></li>
                        <li><a href="FeeTitle.html"><i class="far fa-circle"></i>Fee Title</a></li>
                        <li><a href="FeeMap.html"><i class="far fa-circle"></i>Fee Maping</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i data-feather="upload"></i>Excel Upload</a>
                </li>
                <li>
                    <a href="Login.html"><i data-feather="log-out"></i>Logout</a>
                </li>

            </ul>
        </div>

        <div class="page-content">
            <div class="main-wrapper">

                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">FEE ASSIGN</h5>
                                <form class="row g-3">

                                    <div class="col-md-3">
                                        <label class="form-label">Acadmic Year</label>
                                        <select class="form-select">
                                            <option selected disabled value="">-select-</option>
                                            <option>2020-2021</option>
                                            <option>2021-2022</option>
                                            <option>2022-2023</option>
                                            <option>2023-2024</option>
                                            <option>2024-2025</option>
                                            <option>2025-2026</option>
                                            <option>2026-2027</option>
                                            <option>2027-2028</option>
                                            <option>2028-2029</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="form-label">Level</label>
                                        <select class="form-select mb-3">
                                            <option selected disabled value="">-select-</option>
                                            <option>Primary</option>
                                            <option>Secondary</option>
                                            <option>High Secondary</option>
                                        </select>

                                    </div>

                                    <div class="col-md-3">
                                        <label class="form-label">Grade</label>
                                        <select class="form-select mb-3">
                                            <option selected disabled value="">-select-</option>
                                            <option value="1st">1st</option>
                                            <option value="2nd">2nd</option>
                                            <option value="3rd">3rd</option>
                                            <option value="4th">4th</option>
                                            <option value="5th">5th</option>
                                            <option value="6th">6th</option>
                                            <option value="7th">7th</option>
                                            <option value="8th">8th</option>
                                            <option value="9th">9th</option>
                                            <option value="10th">10th</option>
                                            <option value="11th">11th</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="form-label">Division</label>
                                        <select class="form-select">
                                            <option selected disabled value="">-select-</option>
                                            <option>A</option>
                                            <option>B</option>
                                            <option>C</option>
                                            <option>D</option>
                                        </select>
                                    </div>


                                    <div class="col-md-3">
                                        <label class="form-label">GR No.</label>
                                        <input type="number" class="form-control mb-3">

                                    </div>

                                    <div class="col-md-3">
                                        <label class="form-label">Student Name</label>
                                        <input type="number" class="form-control mb-3">

                                    </div>

                                </form>

                                <div class="row">
                                    <div class="col-md-3">
                                        <button class="btn btn-primary mb-3">Search</button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body" style="overflow: scroll;">
                                <table class="table overflow-x">
                                    <tbody>
                                        <tr class="font-bold">
                                            <thead>

                                                <th>Select</th>
                                                <th>Grade</th>
                                                <th>Division</th>
                                                <th>GR</th>
                                                <th>Student Name</th>
                                                <th>Parent Name</th>
                                                <th>Date Of Birth</th>
                                                <th>Mobile No.</th>
                                            </thead>
                                        </tr>


                                        <tr>
                                            <td><input class="form-check-input" type="checkbox"></td>
                                            <th>6th</th>
                                            <td>C</td>
                                            <td>8569</td>
                                            <td>Ravi Mehra</td>
                                            <td>Abeer Singh</td>
                                            <td>25/May/2022</td>
                                            <td>9006547749</td>
                                        </tr>

                                        <tr>
                                            <td><input class="form-check-input" type="checkbox"></td>
                                            <th>6th</th>
                                            <td>C</td>
                                            <td>8569</td>
                                            <td>Ravi Mehra</td>
                                            <td>Abeer Singh</td>
                                            <td>25/May/2022</td>
                                            <td>9006547749</td>
                                        </tr>

                                        <tr>
                                            <td><input class="form-check-input" type="checkbox"></td>
                                            <th>6th</th>
                                            <td>C</td>
                                            <td>8569</td>
                                            <td>Ravi Mehra</td>
                                            <td>Abeer Singh</td>
                                            <td>25/May/2022</td>
                                            <td>9006547749</td>
                                        </tr>

                                        <tr>
                                            <td><input class="form-check-input" type="checkbox"></td>
                                            <th>6th</th>
                                            <td>C</td>
                                            <td>8569</td>
                                            <td>Ravi Mehra</td>
                                            <td>Abeer Singh</td>
                                            <td>25/May/2022</td>
                                            <td>9006547749</td>
                                        </tr>

                                        <tr>
                                            <td><input class="form-check-input" type="checkbox"></td>
                                            <th>6th</th>
                                            <td>C</td>
                                            <td>8569</td>
                                            <td>Ravi Mehra</td>
                                            <td>Abeer Singh</td>
                                            <td>25/May/2022</td>
                                            <td>9006547749</td>
                                        </tr>

                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="form-label">Fee Kind</label>
                                        <select class="form-select">
                                            <option selected disabled value="">-select-</option>
                                            <option>Admission</option>
                                            <option>Conversion</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="form-label">Fee Title</label>
                                        <select class="form-select">
                                            <option selected disabled value="">-select-</option>
                                            <option>Admission Fee</option>
                                            <option>Caution Money</option>
                                            <option>Bridge Lesson</option>
                                            <option>1st Qtr Tuition Fee</option>
                                            <option>2nd Qtr Tuition Fee</option>
                                            <option>3rd Qtr Tuition Fee</option>
                                            <option>4th Qtr Tuition Fee</option>
                                            <option>1st Qtr Term Fee</option>
                                            <option>3rd Qtr Term Fee</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="form-label">Concession</label>
                                        <input type="text" placeholder="Amount" class="form-control">
                                    </div>

                                    <div class="col-md-3">
                                        <label class="form-label">Refund</label>
                                        <input type="text" placeholder="Amount" class="form-control">

                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        <button class="btn btn-primary mb-3">Assign Selected</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>








            </div>
        </div>



        <!-- Javascripts -->
        <script src="../../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
        <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
        <script src="../../assets/js/main.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
</body>

</html>