<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="School Management Portal for AryaGlobal">
    <meta name="keywords" content="AryaGurukul, LittleAryans, StMaryHighSchool">
    <meta name="author" content="ravimehra9911">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Form View - AryaGlobal</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
    <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="../../assets/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">

    <!-- Theme Styles -->
    <link href="../../assets/css/main.min.css" rel="stylesheet">
    <link href="../../assets/css/custom.css" rel="stylesheet">

    <style>
        .formview {
            width: 1000px;
            margin: 0 auto;
        }
    </style>

</head>

<body>
    <div class='loader'>
        <div class='spinner-grow text-primary' role='status'>
            <span class='sr-only'>Loading...</span>
        </div>
    </div>

    <div class="page-container">
        <div class="formview">

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">


                            <div class="row mb-5 d-flex justify-content-center align-items-center">
                                <div class="col-6">
                                    <img src="/assets/images/AryaGurukul-Nandivali.png" width="250">
                                </div>



                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <h3>Conversion Form - 2022</h3>
                                </div>

                            </div>


                            <div class="row">

                                <div class="col-10">

                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <h6 class="text-black-50">ACADMIC SESSION</h6>
                                            <p class="h5">2022-2023</p>
                                        </div>

                                        <div class="col-4">
                                            <h6 class="text-black-50">Grade Applying</h6>
                                            <p class="h5">4th</p>
                                        </div>

                                        <div class="col-4">
                                            <h6 class="text-black-50">GR Number</h6>
                                            <p class="h5">2585</p>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <h6 class="text-black-50">First Name</h6>
                                            <p class="h5">ABEER</p>
                                        </div>

                                        <div class="col-4">
                                            <h6 class="text-black-50">Middle Name</h6>
                                            <p class="h5">KUMAR</p>
                                        </div>

                                        <div class="col-4">
                                            <h6 class="text-black-50">Last Name</h6>
                                            <p class="h5">MEHRA</p>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <h6 class="text-black-50">Date of Birth</h6>
                                            <p class="h5">23-08-2017</p>
                                        </div>

                                        <div class="col-4">
                                            <h6 class="text-black-50">Blood Group</h6>
                                            <p class="h5">B+</p>
                                        </div>

                                        <div class="col-4">
                                            <h6 class="text-black-50">House</h6>
                                            <p class="h5">AGNI</p>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <h6 class="text-black-50">Father Name</h6>
                                            <p class="h5">RAVI KUMAR MEHRA</p>
                                        </div>

                                        <div class="col-4">
                                            <h6 class="text-black-50">Mother Name</h6>
                                            <p class="h5">PIHU KUMAR MEHRA</p>
                                        </div>

                                        <div class="col-4">
                                            <h6 class="text-black-50">Caste</h6>
                                            <p class="h5">OBC</p>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <h6 class="text-black-50">Religion</h6>
                                            <p class="h5">SIKH</p>
                                        </div>

                                        <div class="col-4">
                                            <h6 class="text-black-50">Presently Study in Grade</h6>
                                            <p class="h5">3rd</p>
                                        </div>

                                        <div class="col-4">
                                            <h6 class="text-black-50">Presently Study in Section</h6>
                                            <p class="h5">B</p>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <h6 class="text-black-50">Student Aadhar Number</h6>
                                            <p class="h5">991155886677</p>
                                        </div>

                                        <div class="col-4">
                                            <h6 class="text-black-50">Address Line 1</h6>
                                            <p class="h5">XYZ STREET</p>
                                        </div>

                                        <div class="col-4">
                                            <h6 class="text-black-50">Address Line 2</h6>
                                            <p class="h5">ABC BUILDING</p>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <h6 class="text-black-50">State</h6>
                                            <p class="h5">PUNJAB</p>
                                        </div>

                                        <div class="col-4">
                                            <h6 class="text-black-50">City</h6>
                                            <p class="h5">BATALA</p>
                                        </div>

                                        <div class="col-4">
                                            <h6 class="text-black-50">Pincode</h6>
                                            <p class="h5">143505</p>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <h6 class="text-black-50">Primary Contact No.</h6>
                                            <p class="h5">+91 9023607749</p>
                                        </div>

                                        <div class="col-8">
                                            <h6 class="text-black-50">Primary Email</h6>
                                            <p class="h5">ravi.mehra@keyframemedia.in</p>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <h6 class="text-black-50">Secondary Contact No.</h6>
                                            <p class="h5">+91 9023607749</p>
                                        </div>

                                        <div class="col-8">
                                            <h6 class="text-black-50">Secondary Email</h6>
                                            <p class="h5">ravi.mehra@keyframemedia.in</p>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <img src="/assets/images/aadharfront.jpg" width="100%">
                                        </div>

                                        <div class="col-6">
                                            <img src="/assets/images/aadharback.jpg" width="100%">
                                        </div>

                                        <div class="col-12">
                                            <img src="/assets/images/castecertificate.jpg">

                                        </div>

                                    </div>

                                </div>

                                <div class="col-2">
                                    <img src="/assets/images/studentphoto.jpg" width="100">
                                    <p>Student's Photo </p>
                                    <img src="/assets/images/fatherphoto.jpg" width="100">
                                    <p>Father's Photo</p>
                                    <img src="/assets/images/motherphoto.jpg" width="100">
                                    <p>Mother's Photo</p>
                                </div>

                            </div>

                            <div class="row mb-5 ">
                                <div class="col-6 mb-3 d-flex justify-content-start">
                                    <p style="padding-right: 10px ;">Front Officer </p>
                                    <div style="height: 50px; width:200px; border: 1px solid #000000;"></div>
                                </div>
                                <div class="col-6 mb-3  d-flex justify-content-end">
                                    <p style="padding-right: 10px ;">Principal </p>
                                    <div style="height: 50px; width:200px; border: 1px solid #000000;"></div>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col d-flex justify-content-end">
                                    <button onclick="window.print()" class="btn btn-info">Print</button>

                                </div>


                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascripts -->
    <script src="../../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
    <script src="../../assets/js/main.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
</body>

</html>