<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="School Management Portal for AryaGlobal">
    <meta name="keywords" content="AryaGurukul, LittleAryans, StMaryHighSchool">
    <meta name="author" content="ravimehra9911">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Dashboard - AryaGlobal</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
    <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="../../assets/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">

    <!-- Theme Styles -->
    <link href="../../assets/css/main.min.css" rel="stylesheet">
    <link href="../../assets/css/custom.css" rel="stylesheet">

</head>

<body>
    <div class="container vh-100 d-flex align-items-center">
        <div class="row">
            <div class="col-md-12 p-3 text-center">
                <div>
                    <img width="250px" class="img-fluid" src="../../assets/images/AryaGurukul-Nandivali.png">
                </div>
            </div>
            <div class="col-md-12">
                <div class="bg-white p-5 rounded">


                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <h1>Our Portal is under<br>scheduled maintenance</h1>
                            <p>Kindly try in 30 min.</p>
                        </div>
                        <div class="col-md-6">
                            <img src="../../assets/images/maintenance.png" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>


</body>

</html>