<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="AryaGlobal Group of Schools">
    <meta name="keywords" content="Admin, Login">
    <meta name="author" content="ravimehra9911">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>AryaGlobal-Admin Login</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
    <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="../../assets/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">

    <!--Script-->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- Theme Styles -->
    <link href="../../assets/css/main.min.css" rel="stylesheet">
    <link href="../../assets/css/custom.css" rel="stylesheet">


</head>

<body class="login-page">

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12 col-lg-4">
                <div class="card login-box-container">
                    <div class="card-body">
                        <div style="background-color: #8BC349; color: #fff;" class="p-5 rounded">
                            <div class="authent-text">
                                <i data-feather="check-circle"></i>
                                <h4 class="mt-3">Registration Completed</h4>
                            </div>
                        </div>

                        <p class="mt-3 text-center">
                            Congratulations, your account has been successfully created.
                        </p>


                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Javascripts -->
    <script>
        feather.replace()
    </script>
    <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>


</body>

</html>