<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="AryaGlobal Group of Schools">
    <meta name="keywords" content="Admin, Login">
    <meta name="author" content="ravimehra9911">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>AryaGlobal-Admin Login</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
    <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="../../assets/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">



    <!-- Theme Styles -->
    <link href="../../assets/css/main.min.css" rel="stylesheet">
    <link href="../../assets/css/custom.css" rel="stylesheet">


</head>

<body class="">

    <div class="container" style="height:100vh;">

        <div class="row justify-content-md-center align-content-center" style="height: 100vh;">
            <div class="col-md-12 col-lg-8">
                <div class="card login-box-container">
                    <div class="card-body">
                        <div class="authent-logo">
                            <img src="../../assets/images/AryaGurukul-Nandivali.png" alt="" width="300">
                        </div>
                        <div class="authent-text">
                            <h4>SIGNUP REQUEST</h4>
                        </div>

                        <form>
                            <div class="row">
                                <div class="mb-3 position-relative">
                                    <div class="form-floating">
                                        <input type="name" class="form-control" id="floatingInput" placeholder="Name">
                                        <label for="floatingInput">Employee ID</label>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="formFile" class="form-label">User Photo <span
                                            class="required">*</span></label>
                                    <input class="form-control" type="file" id="formFile" accept=".jpg,.png,.jpeg" />
                                    <div class="form-text">
                                        File Size Should be less than 2Mb. The Image formats
                                        should
                                        be
                                        .jpg or .jpeg.
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="form-floating">
                                        <input type="name" class="form-control" id="floatingInput" placeholder="Name">
                                        <label for="floatingInput">First Name</label>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="form-floating">
                                        <input type="name" class="form-control" id="floatingInput" placeholder="Name">
                                        <label for="floatingInput">Middle Name</label>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="form-floating">
                                        <input type="name" class="form-control" id="floatingInput" placeholder="Name">
                                        <label for="floatingInput">Last Name</label>
                                    </div>
                                </div>

                                <div class="mb-3 position-relative">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="floatingInput"
                                            placeholder="name@example.com">
                                        <label for="floatingInput">School Email address</label>
                                        <span class="position-absolute" style="z-index: 1; right: 7px; top: 7px;">
                                            <button id="BtnOtp" type="submit" class="btn btn-primary btn-sm">SEND
                                                OTP</button>
                                        </span>
                                    </div>
                                </div>

                                <div class="mb-3 position-relative">
                                    <div class="form-floating">
                                        <input type="name" class="form-control" id="floatingInput" placeholder="Name">
                                        <label for="floatingInput">Enter OTP</label>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="form-floating">
                                        <input type="mobile" class="form-control" id="floatingInput"
                                            placeholder="9988776655">
                                        <label for="floatingInput">Mobile Number</label>
                                        <span class="position-absolute" style="z-index: 1; right: 7px; top: 7px;">
                                            <button id="BtnOtp" type="submit" class="btn btn-primary btn-sm">SEND
                                                OTP</button>
                                        </span>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="form-floating">
                                        <input type="otp" class="form-control" id="floatingotp" placeholder="Enter OTP">
                                        <label for="floatingotp">OTP</label>
                                    </div>
                                </div>







                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary w-100"><a href="">Submit</a></button>



                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Javascripts -->
    <script src="../../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script src="../../assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
    <script src="../../assets/js/main.min.js"></script>
    <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/feather-icons"></script>

</body>

</html>