<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="School Management Portal for AryaGlobal">
  <meta name="keywords" content="AryaGurukul, LittleAryans, StMaryHighSchool">
  <meta name="author" content="ravimehra9911">
  <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title -->
  <title>Profile - AryaGlobal</title>

  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
  <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
  <link href="../../assets/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">

  <!-- Theme Styles -->
  <link href="../../assets/css/main.min.css" rel="stylesheet">
  <link href="../../assets/css/custom.css" rel="stylesheet">

</head>

<body>
  <div class='loader'>
    <div class='spinner-grow text-primary' role='status'>
      <span class='sr-only'>Loading...</span>
    </div>
  </div>

  <div class="page-container">
    <div class="page-header">
      <nav class="navbar navbar-expand-lg d-flex justify-content-between">

        <div class="" id="navbarNav">
          <ul class="navbar-nav" id="leftNav">
            <li class="nav-item">
              <a class="nav-link" id="sidebar-toggle" href="#"><i data-feather="arrow-left"></i></a>
            </li>
          </ul>
        </div>

        <div class="logo">
          <a class="navbar-brand" href="index.html"></a>
        </div>

        <div class="" id="headerNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link profile-dropdown" href="#" id="profileDropDown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"><img src="../../assets/images/avatars/profile-image.png" alt=""></a>

              <div class="dropdown-menu dropdown-menu-end profile-drop-menu" aria-labelledby="profileDropDown">
                <a class="dropdown-item" href="Profile.html"><i data-feather="user"></i>Profile</a>
                <a class="dropdown-item" href="Login.html"><i data-feather="log-out"></i>Logout</a>
              </div>

            </li>
          </ul>
        </div>

      </nav>
    </div>

    <div class="page-sidebar">
      <ul class="list-unstyled accordion-menu">
        <li class="sidebar-title">
          Main
        </li>

        <li>
          <a href="Dashboard.html"><i data-feather="home"></i>Dashboard</a>
        </li>

        <li>
          <a href="#"><i data-feather="edit"></i>Form<i class="fas fa-chevron-right dropdown-icon"></i></a>
          <ul class="">
            <li><a href="#"><i class="far fa-circle"></i>Admission</a></li>
            <li><a href="ConversionForm.html"><i class="far fa-circle"></i>Conversion</a></li>
          </ul>
        </li>

        <li>
          <a href="#"><i data-feather="database"></i>Form Data<i class="fas fa-chevron-right dropdown-icon"></i></a>
          <ul class="">
            <li><a href="#"><i class="far fa-circle"></i>Admission</a></li>
            <li><a href="ConversionEntry.html"><i class="far fa-circle"></i>Conversion</a></li>
          </ul>
        </li>

        <li class="sidebar-title">
          Other
        </li>

        <li>
          <a href=""><i data-feather="star"></i>Masters<i class="fas fa-chevron-right dropdown-icon"></i></a>
          <ul>
            <li><a href="acadmicyear.html"><i class="far fa-circle"></i>Academic Year</a>
            </li>
            <li><a href="Level.html"><i class="far fa-circle"></i>Level</a></li>
            <li><a href="Standard.html"><i class="far fa-circle"></i>Standard</a></li>
            <li><a href="Division.html"><i class="far fa-circle"></i>Division</a></li>
            <li><a href="Board.html"><i class="far fa-circle"></i>Board</a></li>
            <li><a href="#"><i class="far fa-circle"></i>GR Number</a></li>
            <li><a href="#"><i class="far fa-circle"></i>Student Confirmation</a></li>
            <li><a href="Country.html"><i class="far fa-circle"></i>Country</a></li>
            <li><a href="State.html"><i class="far fa-circle"></i>State</a></li>
            <li><a href="City.html"><i class="far fa-circle"></i>City</a></li>
            <li><a href="Pincode.html"><i class="far fa-circle"></i>Pincode</a></li>
            <li><a href="Feekind.html"><i class="far fa-circle"></i>Fee Kind</a></li>
            <li><a href="FeeTitle.html"><i class="far fa-circle"></i>Fee Title</a></li>
            <li><a href="FeeMap.html"><i class="far fa-circle"></i>Fee Maping</a></li>
          </ul>
        </li>

        <li>
          <a href="#"><i data-feather="upload"></i>Excel Upload</a>
        </li>
        <li>
          <a href="Login.html"><i data-feather="log-out"></i>Logout</a>
        </li>

      </ul>
    </div>
    <div class="page-content">
      <div class="main-wrapper">
        <div class="row">

          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="post-header">
                  <img src="../../assets/images/avatars/profile-image.png" alt="">
                  <div class="post-info">
                    <span class="post-author">Ravi Mehra</span><br>
                    <span class="post-date">Developer</span>
                  </div>
                </div>
                <br>
                <ul class="list-unstyled profile-about-list">
                  <li><i class="far fa-envelope m-r-xxs"></i>
                    <span>ravi.mehra@keyframemedia.in</span>
                  </li>
                  <li><i class="far fa-compass m-r-xxs"></i>
                    <span>Lives in <a href="#">B-304,Batala,Punjab</a></span>
                  </li>
                  <li><i class="far fa-address-book m-r-xxs"></i>
                    <span>+91 9023607749</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>


          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Profile Setting</h5>

                <form>
                  <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="name" class="form-control" id="inputName3">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputphone3" class="col-sm-2 col-form-label">Mobile</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="inputphone3">
                    </div>
                  </div>
                  <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                          checked>
                        <label class="form-check-label" for="gridRadios1">
                          Male
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                          Female
                        </label>
                      </div>

                    </div>
                  </fieldset>

                  <button type="submit" class="btn btn-primary">Update Profile</button>
                </form>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Change Password</h5>

                <form>

                  <div class="row mb-3">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Current
                      Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword2">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">New Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword3">
                    </div>
                  </div>


                  <button type="submit" class="btn btn-primary">Update Password</button>
                </form>
              </div>
            </div>

          </div>




        </div>




      </div>

    </div>

    <!-- Javascripts -->
    <script src="../../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="../../assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
    <script src="../../assets/js/main.min.js"></script>
</body>

</html>