<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="School Management Portal for AryaGlobal">
    <meta name="keywords" content="AryaGurukul, LittleAryans, StMaryHighSchool">
    <meta name="author" content="ravimehra9911">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Form View - AryaGlobal</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
    <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="../../assets/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">

    <!-- Theme Styles -->
    <link href="../../assets/css/main.min.css" rel="stylesheet">
    <link href="../../assets/css/custom.css" rel="stylesheet">

    <style>
        .formview {
            width: 1000px;
            margin: 0 auto;
        }
    </style>

</head>

<body>
    <div class='loader'>
        <div class='spinner-grow text-primary' role='status'>
            <span class='sr-only'>Loading...</span>
        </div>
    </div>

    <style>
        p {
            margin: 0px;
        }
    </style>

    <div class="page-container">
        <div class="formview">

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">


                            <div class="d-flex mb-2 justify-content-between">
                                <div>
                                    <img src="/assets/images/AryaGurukul-Nandivali.png" width="250">
                                </div>
                                <div class="text-end">
                                    <h4>FEE RECEIPT 2022-23</h4>

                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col bg-dark">
                                    <p class="h6 m-0 py-2 text-white">CBSE/AFF/1130186(SS-00496-1112) SCHOOL CODE -
                                        30139</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-3 pt-2 border">
                                    <h6 class="text-black-50">Academic Session</h6>
                                    <p class="h6">2022-23</p>
                                </div>

                                <div class="col-3 pt-2 border">
                                    <h6 class="text-black-50">Grade Applying For</h6>
                                    <p class="h6">2nd</p>
                                </div>

                                <div class="col-3 pt-2 border">
                                    <h6 class="text-black-50">Child Name</h6>
                                    <p class="h6">ABEER KUMAR MEHRA</p>
                                </div>

                                <div class="col-3 pt-2 border">
                                    <h6 class="text-black-50">Date of Birth</h6>
                                    <p class="h6">17/Aug/2018</p>
                                </div>

                                <div class="col-3 pt-2 border">
                                    <h6 class="text-black-50">Father/Mother Name</h6>
                                    <p class="h6">RAVI KUMAR</p>
                                </div>

                                <div class="col-3 pt-2 border">
                                    <h6 class="text-black-50">Recipt Date</h6>
                                    <p class="h6">12/April/2022</p>
                                </div>

                                <div class="col-3 pt-2 border">
                                    <h6 class="text-black-50">Application No.</h6>
                                    <p class="h6">2345</p>
                                </div>

                                <div class="col-3 pt-2 border">
                                    <h6 class="text-black-50">VOC No.</h6>
                                    <p class="h6">2356</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col bg-dark">
                                    <p class="h6 m-0 py-2 text-white">PAYMENT SUMMERY</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-9 pt-2 border">
                                    <p class="text-black-50">PARTICULAR</p>
                                    <p class="h6">Online Admission Form Fee</p>
                                </div>

                                <div class="col-3 pt-2 border">
                                    <p class="text-black-50">AMOUNT</p>
                                    <p class="h6">1000</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col bg-dark">
                                    <p class="h6 m-0 py-2 text-white">PAYMENT DETAILS</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-3 pt-2 border">
                                    <p class="text-black-50">ORDER ID</p>
                                    <p class="h6">order_J9oxSPFXuwyN5E</p>
                                </div>

                                <div class="col-3 pt-2 border">
                                    <p class="text-black-50">MODE OF PAYMENT</p>
                                    <p class="h6">UPI</p>
                                </div>

                                <div class="col-3 pt-2 border">
                                    <p class="text-black-50">STATUS</p>
                                    <p class="h6 bg-success text-white d-inline-flex px-3 py-2 rounded">PAID</p>
                                </div>

                                <div class="col-3 pt-2 border">
                                    <p class="text-black-50">DATE </p>
                                    <p class="h6">21 Mar 2022, 10:56:18 pm</p>
                                </div>
                            </div>

                            <div>
                                <p class="text-end small">vidyanagari, Nandivali, Shri Malang Road, Kalyan (E)
                                    421306
                                    Ph: 022 494 355 75
                                    | E: info@aryagurukul.in | www.aryagurukul.in
                                </p>

                                <p class="small text-end"><span class="bold">Note:</span> receipt is valid subject to
                                    realisation <span class="text-danger">*</span></p>
                            </div>





                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascripts -->
    <script src="../../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
    <script src="../../assets/js/main.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
</body>

</html>